@use '../../assets/styles/variables';

@media only screen and (max-width: 1040px) {
  .category-list-nav{
    display: none;
  }
}
.category-list{
    list-style-type: none;
}

.category-list-item{
    white-space: nowrap;
}
.category-list-item-a{
    text-decoration: none;
    color: inherit;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.category-list-item-a:hover{
    color: variables.$primary-red;
}
