header{
  position: relative;
}
.link-wraper{
  list-style: none;
  display: flex;
  flex-direction: row;
}
@media ( min-width: 767px){
  nav{
    display: block !important;
}

}
.logo{
  font-size: 32px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.link {
  display: block;
  line-height: 1.5;
  padding: 12px 24px;
  background: inherit;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease-in;
  color: black;

  &:hover{
    color: white;
    background: black;
    cursor: pointer;
  }
}
  
@media ( max-width: 767px ){
  .link-wraper{
    display: block;
    z-index: 99;
    left: 0;
    top: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #ffff;
    position: absolute;
    .link{
      width: 100%;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      padding: 12px 0;
    }
  }
}